.machine {
    display: flex;
    &__products {
        flex-grow: 2;
        display: flex;
        flex-wrap: wrap;
    }
    &__product {
        padding: 2rem 4rem;
        transition: all 0.2s;
        border-radius: 5px;
        height: 8rem;
        width: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        line-height: 1.8;
        font-size: 1.6rem;
        font-weight: 500;
        &:hover {
            box-shadow: 0rem 1.5rem 3rem rgba(#000, 0.15);
            transform: translateY(-2px);
        }
        &:active {
            transform: translateY(0px);
        }
    }
    &__screen {
        flex-grow: 1.5;
        align-self: stretch;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &__form {
        display: flex;
        flex-direction: column;
        & >  input {
            color: inherit;
            font-family: inherit;
            font-size: inherit;
            border: 1px solid rgba(#000, 0.4);
            padding: 0.3rem 1.4rem;
            border-radius: 4px;
            &::placeholder {
                font-style: italic;
                font-weight: 200;
            }
        }
    }
    &__output {
        padding: 1.4rem 2rem 2rem 2rem;
        font-size: 1rem;
        font-weight: 800;
        height: 14rem;
        width: 20rem;
        line-height: 1.8;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 2rem;
        margin-left: 2rem;
        border: 1px solid rgba(#000, 0.3);
        border-radius: 4px;
        position: relative;
        color: rgb(33, 131, 211);
        box-shadow: 0.5rem 0.5rem 1rem rgba(#000, 0.2);
    }
    &__balance {
        position: absolute;
        bottom: 0.5rem;
        right: 1rem;
        &::after {
            content: "\00A2";
        }
    }
}

.btn {
    align-self: flex-end;
    margin-top: 1rem;
    padding: 0.8rem 1.4rem;
    border-radius: 4px;
    text-transform: uppercase;
    &.add-product {
        float: right;
        margin-top: 8rem;
        color: inherit;
        background-color: white;
    }
    &.product-submit {
        float: right;
        background-color: white;
        color: inherit;
    }
    &:hover {
        background-color: orangered;
        color: white;
        transition: all 0.4s;
    }
}


.form {
    background-color: rgba(white, 0.87);
    width: 80%;
    max-width: 50rem;
    border-radius: 10px;
    padding: 4rem 3rem;
    &__header {
        margin-bottom: 4rem;
    }
    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }
    &__input {
        padding: 1.5rem 2rem;
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        border-radius: 2px;
        border: none;
        border-bottom: 3px solid transparent;
        width: 100%;
        transition: all 0.3s;
        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba(#000, 0.1);
            border-bottom: 3px solid orangered;
        }
    }
    
    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: 0.7rem;
        display: block;
        transition: all 0.3s;
        transform: translate(-1rem, -8rem);
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }
    &__radio-group {
        display: inline-block;
    }
    &__radio-label {
        cursor: pointer;
        margin-bottom: 4rem;
        position: relative;
        padding-left: 1rem;
        font-size: 1.4rem;
        display: flex;
        align-items: center;
    }
    &__radio-button {
        height: 3rem;
        width: 3rem;
        border: 5px solid orangered;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1.2rem;
        &::after {
            content: "";
            height: 1.3rem;
            width: 1.3rem;
            border-radius: 50%;
            background-color: orangered;
            opacity: 0;
            transition: opacity 0.2s;
        }
    }
    &__radio-input {
        opacity: 0;
        display: none;
    }
    &__radio-input:checked ~ &__radio-label &__radio-button::after {
        opacity: 1;
    }
    &__group--new {
        transition: all 0.4s;
    }
    &__radio-input:not(:checked) ~ &__group--new {
        visibility: hidden;
        opacity: 0;
        transition: all 0.4s;
    }
    &__radio-input:not(:checked) ~ &__group:not(:last-child) {
        margin-bottom: -2rem;
    }
    & > #form__btn-submit {
        display: none;
        opacity: 0;
    }
}

.popup {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(#000, 0.8);
    z-index: 250;
    opacity: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    @supports(backdrop-filter: blur(10px)) {
        backdrop-filter: blur(10px);
        background-color: rgba(#000, 0.5);
    }
    &:target {
        opacity: 1;
        visibility: visible;
        transition: all 0.3s;
    }
}